<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <!--<add name="EchoEntities" connectionString="metadata=res://*/EchoEntities.csdl|res://*/EchoEntities.ssdl|res://*/EchoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROYCE-PC\ROYCESERVER;initial catalog=Echo;user id=sa;password=secret;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EchoEntities" connectionString="metadata=res://*/EchoEntities.csdl|res://*/EchoEntities.ssdl|res://*/EchoEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Echo;user id=sa;password=password123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
